<ion-view view-title="DroneBama">
  <ion-content>
    <h1>{{label}}</h1>

    <!-- <button class="button button-block button-positive" ng-show="type == 1" ng-click="request(type)" ng-disabled="enabled">
      {{apiStatus}} {{showImage}}
    </button> -->

    <img src="img/aruco.png" ng-show="type==1" style="width: 100%; height: auto;">

    <button class="button button-block button-balanced" ng-show="type == 2" ng-click="request(type)" ng-disabled="enabled">
      {{apiStatus}}
    </button>

  </ion-content>
</ion-view>
